<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
        
<!-- meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no"/ -->

<meta name="viewport" content="width=device-width, initial-scale=1">  
  <!--      
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
 <script type="text/javascript" src="https://raw.github.com/jasondavies/conrec.js/master/conrec.js"></script>
	<script src="https://raw.github.com/d3/d3-plugins/master/geom/contour/contour.js"></script>
 -->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link href="{% static 'css/sgweb.css' %}" rel="stylesheet">

<script src="{% static "js/d3.v3.min.js" %}">  </script> 
<script src="{% static "js/conrec.js" %}">  </script>
<script src="{% static "js/contour.js" %}">  </script> 
<script src="{% static "js/jquery-2.1.1.min.js" %}">  </script>
<script src="{% static "js/sgweb.js" %}"> </script>

<style type="text/css">
    p{margin: 30px;}
</style>


<title>Prototype sgweb data viewer app by W. P. Sijp</title>
    
</head>
<body>
<h1 align="center">sgweb dataviewer app prototype </h1>
 

<p>
This is a prototype for a web based Netcdf viewer. Figures persist on web pages when the "save" is pressed. This saves the figure configuration to a database, as defined by the control form below the figure (press "Show Controls" button). Figures are then defined as configurations in the database. On loading these configurations, figures are built by loading Netcdf data from disk, and performing server-side operations, according to the figure configuration. The idea is to allow integration of this viewer component into blog apps.
</p>

<p>
Figure displays are update by pressing the "Plot" button. The data files in the project are shown under "Data files in project". To view a particular dataset, click the left tick box next to that dataset name. Then, select the desired field from the drop down menu that appears. To substract a field belonging to (another) dataset, tick the right column tick box.  The upper left dropdown menu provides colormaps. Data can be multiplied by a factor selected from the multiple dropdown under "Server operations on data". A succession of three operations is selected from menus, where "nop" indicates no operation and the op labelled "First" is performed first. 


</p>

 <ul>
 {% for fc in FigConf %}
    <li> <div class="FigID" id="{{fc.id}}" >Figure {{forloop.counter}} with id {{fc.id}} </div></li>
{% endfor %}
 </ul>
    
<script type="text/javascript">

var cleanConf=new figConfig(['Submit'],[false])

var newFigDiv=d3.select("body").append("div")


var contBut=d3.select("body").append("button")
    .attr("href","")
    .attr("type","button")
    .attr("id","addbut")
    .attr("class","btn btn-default")
    .text("Create New Figure")
    .on("click", function(){createFig(newFigDiv,cleanConf)});



scanPage(d3.select("body"))


</script>

    </body>
</html>

